.links{
    transition: all 0.3s ease-in-out;
    position: relative;
    font-weight: 800;
}

.links::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #22227c; /* Change to your desired underline color */
}
.links:hover::after{
    width: 100%;
    transition: 0.3s ease;
}