@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'mona-sans';
  src: url('../components/utils/monasans/MonaSans/TTF/Mona-Sans-LightWide.ttf') format(''),
  url('../components/utils/monasans/MonaSans/TTF/Mona-Sans-LightWide.ttf') format('truetype');
  font-weight: bolder;
}
@font-face {
  font-family: 'mona-sans-bold';
  src: url('../components/utils/monasans/MonaSans/TTF/Mona-Sans-BoldWide.ttf') format(''),
  url('../components/utils/monasans/MonaSans/TTF/Mona-Sans-BoldWide.ttf') format('truetype');
  font-weight: bolder;
}
body{
  font-family: 'mona-sans',sans-serif
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.exp{
  margin-top: 150%;
}